.grid {
    display: grid;
    grid-template-columns: repeat(3, 280px);
    gap: 40px;
}

.card_animation {
    animation: fadeInFromBelow .3s forwards;
}

@keyframes fadeInFromBelow {
    to {
      opacity: 1;
      transform: translateX(0);
      /* filter: blur(0); */
    }
}

@media(min-width: 1024px){
    .card {
        opacity: 0;
        /* filter: blur(5px); */
        transform: translateY(80px);
    }

}

@media(max-width: 1024px){
    .grid{
        grid-template-columns: 1fr;
        justify-items: center;
    }
}

