.hero {
    height: 100vh;
}

.container {
    max-width: var(--container-width);
    height: 100%;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: start;
    align-items: flex-start;
    padding-top: var(--header-height);
}

.headline {
    width: 50%;
}

.headline h1 {
    line-height: 1.5;
}

.headline :not(:first-child){
    margin-top: 40px;
}

.btn {
   font-size: 16px; 
   font-weight: 500;
}

.data_numbers_container {
    display: flex;
    align-items: flex-start;
    gap: 30px;
}

.data_numbers_box {
    background-color: rgba(0, 0, 0, 50%);
    border-radius: 10px;
    padding: 20px 40px;
    margin-top: 80px;
    max-width: 580px;
}

.data_numbers {
    text-align: center;
}

.data_numbers_pipe {
    margin-top: 10px;
}

.fade_animation {
    animation: fadeInFromY .6s forwards;
}

@keyframes fadeInFromY {
    to {
        opacity: 1;
        transform: translateY(0);
        /* filter: blur(0); */
    }
}

@media(min-width: 1024px) {
    #headline{
        opacity: 0;
        transform: translateY(60px);
        /* filter: blur(5px); */
    }
}

@media(min-width: 769px){
    .hero {
        background-image: url("/images/astronaut.webp");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center top;
    }
}

@media(max-width: 768px) {
    .hero {
        background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.8),  rgba(0, 0, 0, 0.1)), url('/images/astronaut.webp');
        background-position: center top;
        background-size: cover;
        min-width: 100%;
        max-width: 100%;
    }

    .container {
        padding-top: 60px;

    }
    
    .headline {
        width: 100%;
        text-align: center;
        max-width: 100%;

    }

    .headline h1 {
        font-size: 32px;
    }
    
    .headline h3 {
        font-size: 16px;
    }

    .headline span {
        display: none;
    }


    .data_numbers_container {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        text-align: center;
        gap: 20px;
    }
    
    .data_numbers_box {
        background-color: transparent;
        border-radius: 10px;
        width: 100%;
        padding: 0;
        align-self: center;
    }
    
    .data_numbers_description {
        font-size: 14px;
    }

    
}