.footer_section {
    background-color: black;
    padding-block: 80px;
}

.container {
    padding-inline: 12px;
}


.logos {
    text-align: center;
}

.brand_logo {
    font-size: 24px;
    color: var(--clr-accent);
}


.socials{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.social_icon {
    width: 32px;
    height: auto;
    cursor: pointer;
}


.links {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    grid-gap: 10px;
    justify-items: center;
    white-space: nowrap; 
}

.links ul h4 {
    font-size: var(--fs-200);
    color: var(--clr-accent);
    margin-bottom: 20px;
}

.links ul li {
    margin-bottom: 10px;
}

.disclaimer {
    margin-top: 60px;
    text-align: center;
}

.disclaimer a {
    color: var(--clr-accent);
    text-decoration: underline;
}



@media(min-width: 1024px){
    .footer_section{
        padding-block: 120px;

    }

    .container {
        padding: 0;
        max-width: var(--container-width);
        margin-inline: auto;
    }

    .logos {
        text-align: start;
    }

    .navigation {
        text-align: start;
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;
    }

    .socials {
        display: flex;
        gap: 20px;
        margin-top: 20px;
    
    }

    .links {
        display: flex;
        gap: 80px;
        
    }

    
}