.card {
    width: 280px;
}

.image {
    width: 100%;
    object-fit: cover;
    object-position: 0 -20px;
    height: 100px;
    border-radius: 10px 10px 0 0;
}

.description {
    border-radius: 0 0 10px 10px;
    background-color: var(--clr-secondary);
    padding: 16px;
    text-align: center;
}


@media(min-width: 1024px){
    .image {
        height: 200px;
        object-position: 0;
    }
    
    .card {
        width: 280px;
    }

}