.cta {
   padding-block: 80px;
}

.image {
    width: 100%;
    height: auto;
}

.text {
    padding: 24px 12px 0 12px;
}

.text h2 {
    margin-bottom: 24px;
    line-height: 1.5;
}

.text p  {
    margin-bottom: 24px;
}

.btn {
    font-weight: bold;
    font-size: var(--fs-200);
    width: 100%;
}

@media(min-width: 1024px){
    .cta {
        height: 100vh;
        padding-block: 120px;
        background-image: url('/images/galaxy.webp');
        background-position: center;
        background-attachment: fixed;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .box {
        background-color: var(--clr-background);
        border-radius: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 1000px;
        padding-inline: 0px;
    }

    .image {
        border-radius: 10px 0 0 10px;
        height: 100%;
        object-fit: cover;
    }

    .text {
        border-radius: 0 10px 10px 0;
        padding: 100px 60px 80px 60px;
    }
}