.cta {
    height: 100vh;
    padding-block: 120px;
    background-image: url('/images/galaxy.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    background-color: var(--clr-background);
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 980px;

}

.image {
    background-position: center;
    background-size: cover;
    border-radius: 10px 0 0 10px;
}

.text {
    border-radius: 0 10px 10px 0;
    padding: 100px 60px 80px 60px;
}

.text h2 {
    margin-bottom: 24px;
    line-height: 1.5;
}

.text p  {
    margin-bottom: 24px;
}

.btn {
    font-weight: bold;
    font-size: var(--fs-200);
    width: 100%;
}