.featured {
    height: 100vh;
    padding-block: 120px;
    background-image: url('/images/cyberpunk.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    width: 1200px;
    height: 100%;
    margin-inline: auto;
    display: flex;
    align-items: center;    
}

.box {
    background-color: var(--clr-background);
    text-align: center;
    padding: 40px;
    width: 480px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;

}

.headlines {
    margin-bottom: 60px;
}


.box h2{
    margin-bottom: 40px; 
}

.headlines h4 {
    margin-bottom: 10px;
}

.box p {
    margin-bottom: 40px;
}

.btn {
    width: 100%;
}

