.companies {
    padding-block: 80px;
}

.container {
    padding-inline: 12px;
    text-align: center;
}

.container h2{
    margin-bottom: 60px;
}

.company_logos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(148px, 1fr));
    gap: 40px;
    align-items: center;
    justify-items: center;
}

.logo{
    width: 148px;
    height: auto;
}

.fade_animation {
    animation: fadeInFromY .3s forwards;
}

@keyframes fadeInFromY {
    to {
        opacity: 1;
        transform: translateY(0);
        filter: blur(0);
    }
}

@media(min-width: 1024px){
    .companies {
        padding-block: 140px;
    }

    .container {
        padding: 0;
        width: min(80vw, 1080px);
        margin-inline: auto;
    }

    .container h2, .logo{
        opacity: 0;
        transform: translateY(80px);
        filter: blur(5px);
    }

    .company_logos {
        gap: 10px;
    }


}