.skills {
    padding-block: 80px;
}

.container {
        width: 100%;
        padding-inline: 12px;
        text-align: center;
        align-items: center;
    }
    
    .container h2{
        margin-bottom: 60px;
    }

@media(min-width: 1025px) {
    .skills {
        padding-block: 140px;
    }

    .container {
        width: 920px;
        margin-inline: auto;
        padding: 0;
    }

}

