.skills {
    padding-block: 80px;
}

.container {
    width: 100%;
    padding-inline: 12px;
    text-align: center;
    align-items: center;
}
    
.container h2{
    margin-bottom: 60px;
}

.title_animation {
    animation: fadeInFromBelow .3s forwards;
}

@keyframes fadeInFromBelow {
    to {
        opacity: 1;
        transform: translateY(0);
        filter: blur(0);
    }
}


@media (min-width: 1024px) {
    .container h2 {
        filter: blur(5px);
        transform: translateY(80px);
        opacity: 0;
    }
}
@media(min-width: 1025px) {
    .skills {
        padding-block: 140px;
    }

    .container {
        width: 920px;
        margin-inline: auto;
        padding: 0;
    }

}

