.social_proof{
    padding-block: 140px;
}


.container{
    width: var(--container-width);
    margin-inline: auto;
    display: flex;
    justify-content: center;
    gap: 80px;
    align-items: center;
}

.topics h2 {
    padding-bottom: 32px;
}

.bullet_points li {
    background-image: url('/vectors/check.svg');
    background-position: left center;
    background-repeat: no-repeat;
    padding: 3px 0px 3px 30px;
    margin-bottom: 20px;
}

.box {
    background-color: var(--clr-secondary);
    border-radius: 10px;
    padding: 40px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 500px;
    align-self: end;
}

.testimony {
    padding-bottom:40px;
}

.person {
    display: flex;
    align-items: center;
    gap: 20px;
}

.photo {
    background-image: url('/images/girl-portrait.jpg');
    background-position: center;
    background-size: cover;
    width: 80px;
    aspect-ratio: 1 / 1;
    border-radius: 100px;
}


@media(max-width: 1024px){
    .social_proof {
        padding-block: 80px;
    }

   .container {
    display: block;
    width: 100%;
    padding-inline: 12px;
   } 

   .topics {
    margin-bottom: 40px;
   }

   .box {
    width: 100%;
    padding: 20px;
   }

}