.softwares {
    padding-block: 140px;
    position: relative;

}

.container {
    max-width: min(80vw, 1100px);
    margin-inline: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
    justify-items: center;
}

.fade_animation {
    animation: fadeInFromX .3s forwards;
}

.creative_cloud {
    display: flex;
    align-items: center;
    width: 60%;
}

.cc_logo {
    width: 100%;
    height: auto;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text h2 {
    margin-bottom: 20px;
}

.text p {
    margin-bottom: 40px;
    transition: all 3s;
}

.logos {
    display: flex;
    gap: 20px;
    align-items: center;
}

.logo {
    width: 50px;
    height: auto;
    transition: all 1s;
}

.logo_animation {
    animation: fadeInFromX .3s ease-out forwards;
}

@keyframes fadeInFromX {
    to {
      opacity: 1;
      transform: translateX(0);
      filter: blur(0);
    }
}


@media(min-width: 1024px){
    .cc_logo {
        opacity: 0;
        filter: blur(5px);
        transform: translateX(-80px);
    }

    .text {
        opacity: 0;
        filter: blur(5px);
        transform: translateX(80px); 
    }

    .logo {
        opacity: 0;
        transform: translateX(-20px);
        filter: blur(5px);
    }
}

@media(max-width: 1024px) {
    .softwares {
        padding-block: 80px;
    }

    .container {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .logos {
        justify-content: center;
    }

    .creative_cloud {
        width: 50%;
        margin-bottom: 20px;
    }
}